/* La inclusion de este Css se hace con el objetivo de dotar a la pagina de cierta capacidad de respuesta o responsiveness, los tamaños de fuentes son reducidos en varios casos, y se utiliza la propiedad flexdirection para que los flex item ahora no se muestren como filas sino como columnas dandoles mas espacio para mostrar sus contenidos en espacios pequeños, por la misma razon se cambian algunos margenes y padding */

nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.container {
  padding: 2px;
}

#logo {
  font-size: 1.5rem;
}

/* header */
img {
  margin-top: 10px;
}
header .container {
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

header .container div {
  margin-bottom: 10px;
}

/*seccion 2*/

#seccion2-contenido {
  padding: 5px;
}
#seccion2-contenido h3 {
  font-size: 1.2rem;
}

#seccion2-contenido h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 1rem;
}

#seccion2-contenido p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

/*seccion 3*/
#seccion3-intro {
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}

#caracteristicas {
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
#caracteristicas .item {
  width: 400px;
  text-align: center;
}

/* preventa/subscripcion */
/* le cambiamos el orden , ponemos el enunciado antes del formulario */
#preventa-content {
  flex-direction: column-reverse;
}

#preventa form {
  height: 50%;
}

#preventa-content div {
  height: 50%;
}

#preventa {
  padding-top: 10px;
  height: 600px;
}
